<div class="content transaction-new">
  
  <div class="header">
    <h1>spent money</h1>
  </div>

  <div class="body">
    <%= form_for @transaction, url: {action: "create"},
              html: {class: "form_new_transaction"},
              method: "post" do |t| %>
      <div class="input-group">
        <%= t.label :amount, "How much did you spend?" %>
        <%= t.text_field :amount, :class => 'form-control' %>
      </div><br/>
      <%= t.submit "submit" %>
    <% end %>
  </div>

  <div class="footer">
    <% if @transaction.errors.any? %>
      <h5><%= @transaction.errors.full_messages.first %></h5>
    <% end %>
  </div>
  
</div>