<div class="content bujit-edit">
  
  <div class="header">
    <h1>set bujit</h1>
  </div>

  <div class="body">
    <%= form_for @bujit, url: {action: "update"},
              html: {class: "form_update_bujit"},
              method: "put" do |b| %>
      <div class="input-group">
        <%= b.label :amount, "How much can you spend?" %>
        <%= b.text_field :amount, :class => 'form-control' %>
      </div><br/>
      <%= b.submit "submit" %>
    <% end %>
  </div>

  <div class="footer">
    <% if @bujit.errors.any? %>
      <h5><%= @bujit.errors.full_messages.first %></h5>
    <% end %>
  </div>
</div>