<!DOCTYPE html>
<html>
  <head>
    <title>bujit</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!-- Stop pinch zoom on mobile devices -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <!-- Bootstrap -->
    <%= stylesheet_link_tag 'bootstrap.css' %>
    <%= stylesheet_link_tag 'bootstrap-theme.css' %>
    <!-- favicon -->
    <%= favicon_link_tag 'apple-touch-icon-iphone.png', :rel => 'apple-touch-icon', :type => 'image/png' %>
    <%= favicon_link_tag 'apple-touch-icon-ipad.png', :rel => 'apple-touch-icon', :type => 'image/png', :size => '72x72' %>
    <%= favicon_link_tag 'apple-touch-icon-iphone4.png', :rel => 'apple-touch-icon', :type => 'image/png', :size => '114x114' %>
    <%= favicon_link_tag 'apple-touch-icon-ipad3.png', :rel => 'apple-touch-icon', :type => 'image/png', :size => '144x144' %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>
  <body>
    <div class="content main">
    </div>
    <div class="template home">
      <%= render 'user/index' %>
    </div>
  </body>
</html>
